.footer{
	background-color: #212121;
}

.sectionTitle{
	color: #FFFFEC;
}

.sectionContent{
	color: #676766;
}

.footer-bottom{
	background-color: #272727;
	color: #676766;
}

.bottom-right{
	text-align: right;
}

.bottom-left{
	text-align: right;
}

.email{
  color: #676766;
  transition: all 0.5s ease;
  text-decoration: none;

}

.email:hover{
	color: #4CAF50;
}

#dost_pccarrd_uplb{
	height: 75px !important;
}

/**
* for round icons
*/
.btn-round {
    background-color: #795548;
    border-radius: 999em;
    width: 35px;
    height: 35px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    line-height: 1;
    font-size: 36px;
    position: relative;
    display: inline-block;
}

.btn-round .btn-span {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -19px;
  	color: #FFF;
}

.facebook .btn-span img{
	height:20px;
	width:20px;
}

.twitter .btn-span img{
	height:20px;
	width:20px;
}

.youtube .btn-span img{
	height:20px;
	width:20px;
}